[Unit]
Description=TF2 daily server restart (dodgeball)

[Timer]
OnCalendar=*-*-* 04:00:00 UTC
OnBootSec=5min
Persistent=true
Unit=tf2-dedicated@tf2-dodgeball.service

[Install]
WantedBy=timers.target
