[Unit]
Description=Periodically update TF2 community server list on Discord

[Timer]
OnBootSec=30
OnUnitActiveSec=2min

[Install]
WantedBy=timers.target
